/*contains styles only used when AdwStyleManager:dark is TRUE.*/
:root {
  --sudoku-dark-grey: oklch(39% 0 0);
}
grid.board {
  border: none;
  background: oklch(56% 0 0);
}
grid.block {
  background: oklch(47% 0 0);
}
sudokucell {
  background: var(--sudoku-dark-grey);
}
sudokucell.highlight-coord {
  background: oklch(45% 0 0);
}
sudokucell.selected {
  background: shade(@accent_bg_color, 0.7);
}
sudokucell.fixed {
  background: oklch(32% 0 0);
}
sudokucell.highlight-number {
  background: shade(@accent_bg_color, 0.5);
}
sudokucell.paused {
  background: var(--sudoku-dark-grey);
}
